<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.12" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net461" />
</packages>